<div id="outer-wrap">
<div id="inner-wrap">

    <header id="top" role="banner">
        <div class="block">
            <h1 class="block-title"><a href="http://www.foursides.ca">{{ site.title }}</h1></a>
            <a style="position: relative; left: -10px; bottom: 5px; padding: 5px;" class="nav-btn" id="nav-open-btn" href="#nav">Navigation</a>
        </div>
    </header>

    <nav id="nav" role="navigation">
        <div class="block">
            <h2 class="block-title">Chapters</h2>
            <ul>
                {% for link in site.links %}
				<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		        <li><a href="http://feedpress.me/foursides" title="Atom/RSS feed">RSS</a>
            </ul>
            <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
        </div>
    </nav>