<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>css</string>
	</array>
	<key>collapsed</key>
	<integer>0</integer>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>css</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>collapsed</key>
		<real>473244453</real>
		<key>createMarkedFile</key>
		<real>473244453</real>
		<key>sheetClusters</key>
		<dict>
			<key> 2012-05-21-my-problems-with-online-reading.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key> 2013-11-11-34-Discovering-the-Somatic-Markers.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2010-07-16-the-paleo-leap-or-a-step-back-in-time.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2010-08-04-digital-sabbatical.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2010-08-30-jeff-jarvis-google-me-and-the-future-of-the-internet.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2010-09-14-breaking-the-seo-chains-or-the-value-of-not-blogging.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2010-10-02-the-social-network-a-quick-review.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2010-10-07-pausing-to-read-site-design.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2010-12-06-On-Reading-Gawker-and-the-Trifecta-of-Reading.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-01-05-2011-Don't-Move-Improve.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-01-21-The-4-Hour-Body-Free-Chapters.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-03-24-the-art-of-non-conformity-by-chris-guillebeau.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-04-08-merlin-mann-scared-shitless.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-06-23-Weather-the-Storm-A-Story-of-Moving-On.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-07-13-the-paleo-revolution-100th-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-07-15-Cotton-Candy-Cuddled-Inspired-by-Fighter-Diet.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-11-11-turn-up-that-fing-bass-32-years-old-today.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2011-11-29-Beautiful-Sparkling-Hill-Resort-in-Vernon-British-Columbia.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-01-01-the-4-hour-body-review.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-11-An-Invitation-to-the-Future.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-13-Knowledge-is-Action.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-19-Aligning-With-My-Needs.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-08-I-Lived-to-Tweet-the-Tale.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-09-Changing-My-Workflow.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-09-Pain-Pushes-Until-the-Vision-Pulls.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-05-01-iPad-for-Work.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-07-22-A-Canadian-in-Vegas-Where-Culture-Goes-to-Die.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-07-24-paul-carrs-we-will-always-have-the-flamingo.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-08-26-A-Case-of-Mistaken-Identity.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-09-08-bad-memories.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-10-14-A-Sailor-Jerry-Night.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-10-16-Years.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-11-04-conversations.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-11-11-33-unknowables.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-11-13-skyfall-a-play-with-shadows.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-12-31-Renewal.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-12-31-happy-birthday-to-my-girl-the-big-3.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-01-01-New-Year-New-Approach.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-01-25-Decision-Fatigue.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-01-25-One-Sip-Is-All-It-Takes.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-01-28-Saying-Hello.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-02-10-Obsession-x-Voice.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-02-12-Dishonest-Truths.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-02-18-Mentally-Exhausted.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-03-06-Commitment.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-03-06-Death-of-Effects.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-03-29-Stable-is-That-Step-Backwards-Between-Successful-and-Failure.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-04-10-The-Tale-of-the-Scorpion-and-the-Frog.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-05-22-Touchscreens.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-06-07-sons-of-anarchy-season-one--pure-awesomeness.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-06-15-locked-out-and-saying-fck-it.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-06-16-for-freelancers-breaking-the-time-barrier.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-06-22-saying-no.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-06-24-talking-about-walking.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-07-09-new-album-from-moby--innocents.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-07-16-growth-through-mistakes.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-08-07-Sontag-on-Fame.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-09-20-my-favourite-apps-for-ios-7.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-11-11-34-Discover-The-Somatic-Markers.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2013-12-31-Number-4-Happy-Birthday-to-My-Daughter.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-01-01-Tonx-Review.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-01-12-Verse.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-03-06-invention-of-the-aeropress.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-06-05-A-New-Dawn.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-06-05-All-the-Changes.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-06-06-Back-to-the-Future.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-07-12-Cromwell-head.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-08-03-Encounters-with-Iceland-at-Mission-Hill-Winery.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-08-28-Matt-Gemmell-Raw-Materials.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-09-07-Tony-Konecny-Quote.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-09-14-Naomi-Klein-This-Changes-Everything.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-09-20-Blue-Bottle-Coffee-Review.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-09-25-You-Have-to-Fucking-Eat.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-09-26-Tomorrows-Modern-Boxes-Thom-Yorke.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-03-What-does-David-Fincher-not-do.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-13-Bury-Yourself-Writing-Project.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-15-Being-Mortal-Atul-Gawande.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-16-Bury-Yourself-Day-One.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-17-bury-yourself-day-Two.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-18-Bury-Yourself-Day-Three.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-20-Bury-Yourself-Day-Four.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-22-Asimov-on-Creativity.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-22-Inbox-for-Gmail.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-29-Chris-Hadfield.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-10-30-Tim-Cook-Is-Gay.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-01-Run-The-Jewels.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-05-Juice-Challenge.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-11-35-A-Reflection.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-13-Virunga-The-Documentary.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-11-24-12-Paleo-Books-For-Sale.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-12-10-A-Film-About-Coffee.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-12-12-ProMixx-Vortex-Mixer.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-12-31-Number-5.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-01-21-New-Year-New-Phone.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-08-Year-Of-Essentialism.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-14-My-Problems-With-Dating.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-02-21-Altos-Adventure.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-04-03-An-Afternoon-in-Fintry-BC.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-04-19-The-Pause-That-Refreshes-At-Sparkling-Hill.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-05-14-Origins-Of-The-Mad-Men-Theme-Song.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-06-16-exit-the-queen.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-18-summer-of-david-foster-wallace.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-20-getting-out-of-jail.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-07-27-summer-of-dfw-depression.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-08-15-the-call-of-silence.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-09-22-A-Step-With-Buddha.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-09-23-all-we-have-is-breath.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-10-09-i-made-a-thing.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-10-14-ego-and-work.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-10-22-Dispatch.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-10-26-Thoughts-On-Money.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-03-Fifty-Thousand-Words.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-11-36-What-Took-You-So-Long.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-11-19-Frosty-Weather.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-29-The-Journey-of-2015.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2015-12-31-Turning-6-Years-Old.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>3011-03-10-sample-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>A-Canadian-in-Vegas-Where-Culture-Goes-to-Die.md</key>
			<dict>
				<key>lastModification</key>
				<real>473244453</real>
				<key>version</key>
				<dict>
					<key>legacy-473244453.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string> 2012-05-21-my-problems-with-online-reading.md</string>
		</array>
		<array>
			<string> 2013-11-11-34-Discovering-the-Somatic-Markers.md</string>
		</array>
		<array>
			<string>2010-07-16-the-paleo-leap-or-a-step-back-in-time.md</string>
		</array>
		<array>
			<string>2010-08-04-digital-sabbatical.md</string>
		</array>
		<array>
			<string>2010-08-30-jeff-jarvis-google-me-and-the-future-of-the-internet.md</string>
		</array>
		<array>
			<string>2010-09-14-breaking-the-seo-chains-or-the-value-of-not-blogging.md</string>
		</array>
		<array>
			<string>2010-10-02-the-social-network-a-quick-review.md</string>
		</array>
		<array>
			<string>2010-10-07-pausing-to-read-site-design.md</string>
		</array>
		<array>
			<string>2010-12-06-On-Reading-Gawker-and-the-Trifecta-of-Reading.md</string>
		</array>
		<array>
			<string>2011-01-05-2011-Don't-Move-Improve.md</string>
		</array>
		<array>
			<string>2011-01-21-The-4-Hour-Body-Free-Chapters.md</string>
		</array>
		<array>
			<string>2011-03-24-the-art-of-non-conformity-by-chris-guillebeau.md</string>
		</array>
		<array>
			<string>2011-04-08-merlin-mann-scared-shitless.md</string>
		</array>
		<array>
			<string>2011-06-23-Weather-the-Storm-A-Story-of-Moving-On.md</string>
		</array>
		<array>
			<string>2011-07-13-the-paleo-revolution-100th-post.md</string>
		</array>
		<array>
			<string>2011-07-15-Cotton-Candy-Cuddled-Inspired-by-Fighter-Diet.md</string>
		</array>
		<array>
			<string>2011-11-11-turn-up-that-fing-bass-32-years-old-today.md</string>
		</array>
		<array>
			<string>2011-11-29-Beautiful-Sparkling-Hill-Resort-in-Vernon-British-Columbia.md</string>
		</array>
		<array>
			<string>2012-01-01-the-4-hour-body-review.md</string>
		</array>
		<array>
			<string>2012-03-11-An-Invitation-to-the-Future.md</string>
		</array>
		<array>
			<string>2012-03-13-Knowledge-is-Action.md</string>
		</array>
		<array>
			<string>2012-03-19-Aligning-With-My-Needs.md</string>
		</array>
		<array>
			<string>2012-04-08-I-Lived-to-Tweet-the-Tale.md</string>
		</array>
		<array>
			<string>2012-04-09-Changing-My-Workflow.md</string>
		</array>
		<array>
			<string>2012-04-09-Pain-Pushes-Until-the-Vision-Pulls.md</string>
		</array>
		<array>
			<string>2012-05-01-iPad-for-Work.md</string>
		</array>
		<array>
			<string>2012-07-22-A-Canadian-in-Vegas-Where-Culture-Goes-to-Die.md</string>
		</array>
		<array>
			<string>2012-07-24-paul-carrs-we-will-always-have-the-flamingo.md</string>
		</array>
		<array>
			<string>2012-08-26-A-Case-of-Mistaken-Identity.md</string>
		</array>
		<array>
			<string>2012-09-08-bad-memories.md</string>
		</array>
		<array>
			<string>2012-10-14-A-Sailor-Jerry-Night.md</string>
		</array>
		<array>
			<string>2012-10-16-Years.md</string>
		</array>
		<array>
			<string>2012-11-04-conversations.md</string>
		</array>
		<array>
			<string>2012-11-11-33-unknowables.md</string>
		</array>
		<array>
			<string>2012-11-13-skyfall-a-play-with-shadows.md</string>
		</array>
		<array>
			<string>2012-12-31-happy-birthday-to-my-girl-the-big-3.md</string>
		</array>
		<array>
			<string>2012-12-31-Renewal.md</string>
		</array>
		<array>
			<string>2013-01-01-New-Year-New-Approach.md</string>
		</array>
		<array>
			<string>2013-01-25-Decision-Fatigue.md</string>
		</array>
		<array>
			<string>2013-01-25-One-Sip-Is-All-It-Takes.md</string>
		</array>
		<array>
			<string>2013-01-28-Saying-Hello.md</string>
		</array>
		<array>
			<string>2013-02-10-Obsession-x-Voice.md</string>
		</array>
		<array>
			<string>2013-02-12-Dishonest-Truths.md</string>
		</array>
		<array>
			<string>2013-02-18-Mentally-Exhausted.md</string>
		</array>
		<array>
			<string>2013-03-06-Commitment.md</string>
		</array>
		<array>
			<string>2013-03-06-Death-of-Effects.md</string>
		</array>
		<array>
			<string>2013-03-29-Stable-is-That-Step-Backwards-Between-Successful-and-Failure.md</string>
		</array>
		<array>
			<string>2013-04-10-The-Tale-of-the-Scorpion-and-the-Frog.md</string>
		</array>
		<array>
			<string>2013-05-22-Touchscreens.md</string>
		</array>
		<array>
			<string>2013-06-07-sons-of-anarchy-season-one--pure-awesomeness.md</string>
		</array>
		<array>
			<string>2013-06-15-locked-out-and-saying-fck-it.md</string>
		</array>
		<array>
			<string>2013-06-16-for-freelancers-breaking-the-time-barrier.md</string>
		</array>
		<array>
			<string>2013-06-22-saying-no.md</string>
		</array>
		<array>
			<string>2013-06-24-talking-about-walking.md</string>
		</array>
		<array>
			<string>2013-07-09-new-album-from-moby--innocents.md</string>
		</array>
		<array>
			<string>2013-07-16-growth-through-mistakes.md</string>
		</array>
		<array>
			<string>2013-08-07-Sontag-on-Fame.md</string>
		</array>
		<array>
			<string>2013-09-20-my-favourite-apps-for-ios-7.md</string>
		</array>
		<array>
			<string>2013-11-11-34-Discover-The-Somatic-Markers.md</string>
		</array>
		<array>
			<string>2013-12-31-Number-4-Happy-Birthday-to-My-Daughter.md</string>
		</array>
		<array>
			<string>2014-01-01-Tonx-Review.md</string>
		</array>
		<array>
			<string>2014-01-12-Verse.md</string>
		</array>
		<array>
			<string>2014-03-06-invention-of-the-aeropress.md</string>
		</array>
		<array>
			<string>2014-06-05-A-New-Dawn.md</string>
		</array>
		<array>
			<string>2014-06-05-All-the-Changes.md</string>
		</array>
		<array>
			<string>2014-06-06-Back-to-the-Future.md</string>
		</array>
		<array>
			<string>2014-07-12-Cromwell-head.md</string>
		</array>
		<array>
			<string>2014-08-03-Encounters-with-Iceland-at-Mission-Hill-Winery.md</string>
		</array>
		<array>
			<string>2014-08-28-Matt-Gemmell-Raw-Materials.md</string>
		</array>
		<array>
			<string>2014-09-07-Tony-Konecny-Quote.md</string>
		</array>
		<array>
			<string>2014-09-14-Naomi-Klein-This-Changes-Everything.md</string>
		</array>
		<array>
			<string>2014-09-20-Blue-Bottle-Coffee-Review.md</string>
		</array>
		<array>
			<string>2014-09-25-You-Have-to-Fucking-Eat.md</string>
		</array>
		<array>
			<string>2014-09-26-Tomorrows-Modern-Boxes-Thom-Yorke.md</string>
		</array>
		<array>
			<string>2014-10-03-What-does-David-Fincher-not-do.md</string>
		</array>
		<array>
			<string>2014-10-13-Bury-Yourself-Writing-Project.md</string>
		</array>
		<array>
			<string>2014-10-15-Being-Mortal-Atul-Gawande.md</string>
		</array>
		<array>
			<string>2014-10-16-Bury-Yourself-Day-One.md</string>
		</array>
		<array>
			<string>2014-10-17-bury-yourself-day-Two.md</string>
		</array>
		<array>
			<string>2014-10-18-Bury-Yourself-Day-Three.md</string>
		</array>
		<array>
			<string>2014-10-20-Bury-Yourself-Day-Four.md</string>
		</array>
		<array>
			<string>2014-10-22-Asimov-on-Creativity.md</string>
		</array>
		<array>
			<string>2014-10-22-Inbox-for-Gmail.md</string>
		</array>
		<array>
			<string>2014-10-29-Chris-Hadfield.md</string>
		</array>
		<array>
			<string>2014-10-30-Tim-Cook-Is-Gay.md</string>
		</array>
		<array>
			<string>2014-11-01-Run-The-Jewels.md</string>
		</array>
		<array>
			<string>2014-11-05-Juice-Challenge.md</string>
		</array>
		<array>
			<string>2014-11-11-35-A-Reflection.md</string>
		</array>
		<array>
			<string>2014-11-13-Virunga-The-Documentary.md</string>
		</array>
		<array>
			<string>2014-11-24-12-Paleo-Books-For-Sale.md</string>
		</array>
		<array>
			<string>2014-12-10-A-Film-About-Coffee.md</string>
		</array>
		<array>
			<string>2014-12-12-ProMixx-Vortex-Mixer.md</string>
		</array>
		<array>
			<string>2014-12-31-Number-5.md</string>
		</array>
		<array>
			<string>2015-01-21-New-Year-New-Phone.md</string>
		</array>
		<array>
			<string>2015-02-08-Year-Of-Essentialism.md</string>
		</array>
		<array>
			<string>2015-02-14-My-Problems-With-Dating.md</string>
		</array>
		<array>
			<string>2015-02-21-Altos-Adventure.md</string>
		</array>
		<array>
			<string>2015-04-03-An-Afternoon-in-Fintry-BC.md</string>
		</array>
		<array>
			<string>2015-04-19-The-Pause-That-Refreshes-At-Sparkling-Hill.md</string>
		</array>
		<array>
			<string>2015-05-14-Origins-Of-The-Mad-Men-Theme-Song.md</string>
		</array>
		<array>
			<string>2015-06-16-exit-the-queen.md</string>
		</array>
		<array>
			<string>2015-07-18-summer-of-david-foster-wallace.md</string>
		</array>
		<array>
			<string>2015-07-20-getting-out-of-jail.md</string>
		</array>
		<array>
			<string>2015-07-27-summer-of-dfw-depression.md</string>
		</array>
		<array>
			<string>2015-08-15-the-call-of-silence.md</string>
		</array>
		<array>
			<string>2015-09-22-A-Step-With-Buddha.md</string>
		</array>
		<array>
			<string>2015-09-23-all-we-have-is-breath.md</string>
		</array>
		<array>
			<string>2015-10-09-i-made-a-thing.md</string>
		</array>
		<array>
			<string>2015-10-14-ego-and-work.md</string>
		</array>
		<array>
			<string>2015-10-22-Dispatch.md</string>
		</array>
		<array>
			<string>2015-10-26-Thoughts-On-Money.md</string>
		</array>
		<array>
			<string>2015-11-03-Fifty-Thousand-Words.md</string>
		</array>
		<array>
			<string>2015-11-11-36-What-Took-You-So-Long.md</string>
		</array>
		<array>
			<string>2015-11-19-Frosty-Weather.md</string>
		</array>
		<array>
			<string>3011-03-10-sample-post.md</string>
		</array>
		<array>
			<string>A-Canadian-in-Vegas-Where-Culture-Goes-to-Die.md</string>
		</array>
		<array>
			<string>2015-12-29-The-Journey-of-2015.md</string>
		</array>
		<array>
			<string>2015-12-31-Turning-6-Years-Old.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>manual</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>cacfdcdc0a178703a980cbcb410189b6d7a9a5932538c7f0fd94e8fc23bfaa20</key>
			<integer>1</integer>
		</dict>
		<key>collapsed</key>
		<dict>
			<key>cacfdcdc0a178703a980cbcb410189b6d7a9a5932538c7f0fd94e8fc23bfaa20</key>
			<integer>1</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>cacfdcdc0a178703a980cbcb410189b6d7a9a5932538c7f0fd94e8fc23bfaa20</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>cacfdcdc0a178703a980cbcb410189b6d7a9a5932538c7f0fd94e8fc23bfaa20</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
